# Google Cloud Project and Location for Vertex AI
GCP_PROJECT_ID=projeto-jb-api-gcp
GCP_LOCATION=us-central1

# Pinecone Configuration
PINECONE_API_KEY=pcsk_5SL7KB_PZQHtiRACbdzymyRAcXWenp41PuFpYdFDNCiAipJrwo3RSn13VzFJn7DtQxVVVR
PINECONE_INDEX_NAME=rh-copilot-index

# Backend API Configuration
API_TOKEN=your-super-secret-token
API_URL=http://localhost:8080/chat



